body {
    height: 100vh;
    background-image: url("../image/back.jpg");
    background-repeat: repeat;
    background-size: cover
}
input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
.marg {
    margin-left: 20%;
}
.stab {
    margin-left: 25%;
}

.img {
   margin-left: 85%;
   margin-top: 15px;
}
.text {
    margin-left: 15%;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    color: black;
   
    
    
}