body {
    height: 100vh;
    background-image: url("../image/back.jpg");
    background-repeat: repeat;
    background-size: cover;
}
input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
.marg {
    margin-left: 15%;
}
.stab {
    margin-left: 35%;
}

.img {
   margin-left: 85%;
   margin-top: 15px;
}
.text {
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: rgb(226, 219, 219);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    
}
.space {
    margin-left: 3%;
    margin-top: 60px;
}
.padd {
    padding-right: 15px;
}
.table {
    margin-left: 35.5%;
}
.err {
    font-size: 20px;
    color: red;
    margin-left: 18%;
    margin-top: 15px;
}